section .container .kajia {
    max-width: 550px;
    width: 100%;
    height: 200px;
    border: 2px solid #fff;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 15px;
    margin-top: 20%;
  }
  
  section .container .kajia p {
    color: white;
  }
  
  section .container .boxa {
    max-width: 100%;
    width: 100%;
    height: 440px;
    border: 2px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 15px -200px 0;
  }
  
  section .container .boxa2 {
    max-width: 100%;
    width: 100%;
    height: 410px;
    border: 2px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 15px 1300px 0;
    margin-top: 160%;
  }
  
  section .container .boxa3 {
      max-width: 100%;
      width: 100%;
      height: 500px;
      border: 2px solid #fff;
      padding-right: 20px;
      padding-left: 20px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 15px -370px 0;
    }
  
    section .container .boxa4 {
    max-width: 100%;
    width: 100%;
    height: 430px;
    border: 2px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 15px -370px 0;
  }
  
  
  #uga {
    z-index: -1;
    position: absolute;
    margin-top: -24.4%;
    margin-left: 11%;
  }
  #uga2 {
    margin-top: -7%;
    z-index: -1;
    position: absolute;
    right: -300px;
  }
  #saizu {
    margin-top: -35%;
    z-index: -1;
    position: absolute;
    left: 64%;
  }
  #saizu2 {
    margin-top: -7%;
    z-index: -1;
    position: absolute;
    margin-right: 0%;
  }
  #saiarrea1 {
    margin-top: -24.5%;
    z-index: -1;
    position: absolute;
    margin-left: 27%;
  }
  #urubixa {
    margin-top: -20%;
    z-index: -1;
    position: absolute;
    margin-left: 11%;
  }
  #arranosu {
    margin-top: -20.2%;
    z-index: -1;
    position: absolute;
    margin-left: 18%;
  }
  
  
  .titulua{
      width: 130%;
    margin-bottom: 0;
  margin-left: 40%;
  margin-right: auto;
    padding-top: 26%;
  }
  .titulua2{
    width: 120%;
    margin-left: -12%;
    margin-top: 9%;
  }
  .titulua3{
    width: 110%;
    margin-left: 30%;
    margin-top: 14%;
  }
  .titulua4{
    width: 100%;
    margin-left: 36%;
    margin-top: 12%;
  }
  .titulua5{
    width: 240%;
    margin-left: 50%;
    margin-top: 6%;
  }
  
  #taulia1{
    margin-top: 3%;
    position: absolute;
    margin-bottom: -300px;
    margin-left: -100;
  }
  #taulia2{
    position: absolute;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 8%;
  }
  #taulia3{
    margin-top: 18%;
  }
  #taulia4{
    margin-top: 5%;
    position: absolute;
    margin-bottom: -300px;
    margin-left: -100;
    }
  #taulia5{
    margin-top: 10%;
    position: absolute;
    margin-bottom: -300px;
    margin-left: -100;
}
  
  
  #tit{
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #kont{
    margin-top: 22%;
  }

 
