@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');




body {
  margin: 0;
  background-color: black;
  cursor: url("luma (3).png"), default;
  
}
.boxa p, .boxa2 p, .boxa3 p, .boxa4 p, .kajia p, li, a{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}
.container {
  max-width: 1170px;
  width: 100%;
  display: flex-root;
  margin: 0 auto;
}

#mendixa {
  background-image: url("IMG_0141 (3).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mendixa .overlayxa {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#mendixa .mendixa3 {
  position: absolute;
  width: 598px;
  right: 0;
  bottom: 0;
  height: 670px;
  background-image: url("clipart251.png");
}

#mendixa .mendixa1 {
  position: absolute;
  width: 698px;
  left: 0;
  bottom: 0;
  height: 880px;
  background-image: url("pngwing.com.png");
}

#mendixa .mendixa2 {
  position: absolute;
  width: 698px;
  left: 0;
  right: 80px;
  margin: 0 auto;
  bottom: -80px;
  height: 980px;
  background-image: url("");
}

section .pri{
  position: relative;
  z-index: 3;
  background-color: #000000;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section .container .kajia {
  max-width: 550px;
  width: 100%;
  height: 200px;
  border: 2px solid #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

section .container .kajia p {
  color: white;
}

section .container .boxa {
  max-width: 100%;
  width: 100%;
  height: 450px;
  border: 2px solid #fff;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px -250px 0;
}

section .container .boxa2 {
  max-width: 100%;
  width: 100%;
  height: 990px;
  border: 2px solid #fff;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px -860px 0;
}

section .container .boxa3 {
    max-width: 100%;
    width: 100%;
    height: 610px;
    border: 2px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 15px -1630px 0;
  }

  section .container .boxa4 {
    max-width: 100%;
    width: 100%;
    height: 490px;
    border: 2px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 15px -250px 0;
  }

section .container .boxa p, section .container .boxa2 p, li, a, h2, .boxa3 p, .boxa4 p {
  color: white;
}

p {
  color: #fff;
}

ol{
    list-style-type: none;
    margin-left: -40;
}

#uga {
  z-index: -1;
  position: absolute;
  margin-top: 60%;
}
#uga2 {
  margin-top: -2%;
  z-index: -1;
  position: absolute;
  right: -60px;
}
#saizu {
  margin-top: -15%;
  z-index: -1;
  position: absolute;
  left: -10%;
}
#saizu2 {
  margin-top: -7%;
  z-index: -1;
  position: absolute;
  margin-right: 0%;
}
#saiarrea1 {
  margin-top: -25%;
  z-index: -1;
  position: absolute;
  margin-left: -24%;
}
#urubixa {
  margin-top: -12.8%;
  z-index: -1;
  position: absolute;
  margin-left: -33%;
}
#arranosu {
  margin-top: -22%;
  z-index: -1;
  position: absolute;
  margin-left: -17%;
}


.titulua{
  width: 120%;
  margin-bottom: 0;
margin-left: -13%;
margin-right: auto;
  padding-top: 24%;
}
.titulua2{
  width: 120%;
  margin-left: -12%;
  margin-top: 30%;
}
.titulua3{
  width: 160%;
  margin-left: -36%;
  margin-top: 124%;
}
.titulua4{
  width: 120%;
  margin-left: -12%;
  margin-top: 20%;
}

#taulia1{
  margin-top: -2%;
  position: absolute;
  margin-bottom: -300px;
}
#taulia2{
  position: absolute;
  margin-left: 15%;
  margin-right: auto;
}
#taulia3{
  margin-top: 44%;
}
#taulia4{
    margin-top: -5%;
  }


#tit{
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

#kont{
  margin-top: 22%;
}

.hurrengua {
  border: 2px solid rgb(252, 50, 50);
  z-index: 1;
}
.hurrengua:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: rgb(219, 53, 53);
  transition: all 0.3s ease;
}
.hurrengua:hover {
  color: #fff;
}
.hurrengua:hover:after {
  left: 0;
  width: 100%;
}
.hurrengua:active {
  top: 2px;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #eb2121;
}
button {
  margin: 20px;
}
.botoia {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

a{
    text-decoration: none;
    cursor: pointer;
}






.nava {
  height: 70px;
  background: #262626;
}

.branda {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.branda a,
.branda a:visited {
  color: #ffffff;
  text-decoration: none;
}

.kontainera {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -13%;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #47535c;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.mobilla {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .mobilla {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}

@media screen and (min-width: 799px) {
  .listia {
    display: block !important;
  }
}




.nagusixa, .nagusixa2, .nagusixa3 {
  background-color: #262626;
  color: white;
  padding: 22px;
  font-size: 26px;
  border: none;
  cursor: pointer;
  margin-top: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.nagusixa:hover, .nagusixa:focus, .nagusixa3:hover, .nagusixa3:focus {
  background-color: #47535c;
}

.bajau {
  position: relative;
  display: inline-block;
}

.opzinuak, .opzinuak3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.opzinuak a, .opzinuak3 a {
  font-size: 22px;
  text-decoration: none;
  display: block;
  margin-top: -15;
}

.opzinuak a:hover {background-color: #ddd}

.show {display:block;}

.opzinuak td{
    font-size: 22px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}






  .contenedor{
    position:relative;
    width:63px;
    height:63px;
    border-radius:100%;
  background: rgb(140, 234, 103); 
  background: -moz-radial-gradient(center, ellipse cover,  rgb(140, 234, 103) 0%, rgb(216, 247, 202) 100%); 
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(140, 234, 103) 0%,rgba(216, 247, 202) 100%); 
  background: radial-gradient(ellipse at center,  rgba(140, 234, 103) 0%,rgba(216, 247, 202) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c3ea', endColorstr='#caebf7',GradientType=1 ); 
  ;
    margin:12px 8px 12px -12px;
    margin-top: 4px;
    margin-bottom: 20px;
  }

  .contenedor2{
    position:relative;
    width:63px;
    height:63px;
    border-radius:100%;
  background: rgb(103, 219, 234); 
  background: -moz-radial-gradient(center, ellipse cover,  rgb(103, 219, 234) 0%, rgb(247, 243, 202) 100%); 
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(103, 219, 234) 0%,rgba(247, 243, 202) 100%); 
  background: radial-gradient(ellipse at center,  rgba(103, 219, 234) 0%,rgba(247, 243, 202) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c3ea', endColorstr='#caebf7',GradientType=1 ); 
  ;
    margin:12px 8px 12px -12px;
    margin-top: 4px;
    margin-bottom: 20px;
  }





  .tronco{
    position:absolute;
    width:11.88px;
    height:54px;
    background:#421C00;
    margin:4.5px 38.7px;
  }
  .hueco{
    position:absolute;
    width:4.5px;
    height:4.95px;
    border-radius:100%;
  background: rgb(211,139,4); 
  background: -moz-radial-gradient(center, ellipse cover,  rgba(211,139,4,1) 25%, rgba(188,96,3,1) 27%, rgba(188,96,3,1) 41%, rgba(155,84,3,1) 44%, rgba(155,84,3,1) 47%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(211,139,4,1) 25%,rgba(188,96,3,1) 27%,rgba(188,96,3,1) 41%,rgba(155,84,3,1) 44%,rgba(155,84,3,1) 47%); 
  background: radial-gradient(ellipse at center,  rgba(211,139,4,1) 25%,rgba(188,96,3,1) 27%,rgba(188,96,3,1) 41%,rgba(155,84,3,1) 44%,rgba(155,84,3,1) 47%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38b04', endColorstr='#9b5403',GradientType=1 ); 
    margin:10.08px 1.08px;
    animation:va3 .12s alternate infinite;
  }
  .cabeza{
    position:absolute;
    animation:va .12s alternate infinite;
  }
  .head{
    position:absolute;
    width:10.89px;
    height:9.18px;
    border-radius:100%;
    background:white;
    margin:11.88px 22.59px;
  }
  .head::before{
    content:"";
    position:absolute;
    position:absolute;
    width:10.08px;
    height:5.85px;
    border-radius:100%;
    border-bottom:1.08px solid #c94b34;
    margin:2.43px 0.45px;
   
  }
  .ojo3{
    position:absolute;
    width:6.3px;
    height:4.5px;
    border-radius:100%;
    background:#142944;
    margin:1.89px 2.25px;
  }
  .cresta{
    position:absolute;
    width:11.88px;
    height:8.1px;
    border-radius:100%;
    border-top:1.89px solid #c94b34;
    margin:-0.81px -1.08px;
  }
  .cresta::before{
    content:"";
    position:absolute;
    width:11.88px;
    height:8.1px;
    border-radius:100%;
    border-top:1.89px solid #c94b34;
    transform:rotate(-7deg);
    margin:-2.7px -0.81px;
  }
  .cresta::after{
    content:"";
    position:absolute;
    width:11.88px;
    height:8.1px;
    border-radius:100%;
    border-top:1.89px solid #c94b34;
    transform:rotate(7deg);
    margin:-3.6px -0.81px;
  }
  .ojo{
    position:absolute;
    width:2.7px;
    height:2.7px;
    border-radius:100%;
    background:white;
    border:0.09px solid black;
    margin:2.7px 4.95px;
  }
  .ojo::before{
    content:"";
    display:block;
    width:2.25px;
    height:2.25px;
    border-radius:100%;
    background:#e9ba5e;
    margin:0.27px 0.27px;
  }
  .ojo::after{
    content:"";
    display:block;
    width:0.81px;
    height:0.81px;
    border-radius:100%;
    background:white;
    margin:-2.43px 1.44px;
    
  }
  .iris{
    position:absolute;
    width:1.53px;
    height:1.53px;
    border-radius:100%;
    background:black;
    margin:-1.89px 0.81px
  }
  .boca{
    position:absolute;
     width: 0;
    height: 0;
    border-top: 1.89px solid transparent;
    border-left: 10.89px solid gray;
    border-bottom: 1.89px solid transparent;
    transform:rotate(-3deg);
    margin:15.3px 31.5px
  }
  .boca::before{
    content:"";
    position:absolute;
     width: 0;
    height: 0;
    border-top: 1.53px solid transparent;
    border-left: 10.89px solid #eaeaea;
    border-bottom: 1.53px solid transparent;
    margin:-2.07px -10.89px;
    transform:rotate(5deg);
  }
  .body{
    position:absolute;
     width: 6.3px;
    height: 10.89px;
    border-top: 4.5px solid #121212;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-radius: 9px / 9px;
    transform:rotate(-112deg);
    margin:11.88px 22.59px;
    animation:va3 .3s alternate infinite;
  }
  .body::before{
    content:"";
    position:absolute;
     width:27px;
    height:13.68px;
    border-radius:27px 27px 0 0;
    background:#121212;
    border-top:1.17px solid white;
    transform:rotate(-142deg);
    margin:-9.45px -27.45px
    
  }
  .body::after{
    content:"";
    position:absolute;
     width:24.39px;
    height:11.88px;
    border-radius:27px 27px 0 0;
    background:#121212;
    transform:rotate(-142deg);
    
    background:#142944;
    margin:-10.89px -27px;
    
  }
  .ala{
    position:absolute;
    width:20.79px;
    height:20.79px;
    border-radius:270px 27px 270px 27px;
    background:#121212;
    border-right:1.08px solid white;
    margin:27.81px 15.48px;
     transform:rotate(152deg);
  }
  .cola{
    position:absolute;
    width:4.5px;
    height:20.79px;
    border-radius:100%;
    background:#142944;
    margin:45px 19.89px;
    transform:rotate(12deg)
  }
  .cola::before{
    content:"";
    position:absolute;
    width:4.5px;
    height:20.79px;
    border-radius:100%;
    background:#142944;
    margin:0px 1.08px;
    transform:rotate(-12deg)
  }
  .cola::after{
    content:"";
    position:absolute;
    width:4.5px;
    height:20.79px;
    border-radius:100%;
    background:#142944;
    margin:0px 2.7px;
    transform:rotate(-21deg)
  }
  .legs{
    position:absolute;
    width:3.6px;
    height:1.08px;
    background:#fcc348;
    border-radius:0 1.08px 1.08px 0px;
    margin:40.5px 37.89px
  }
  .legs::before{
    content:"";
    display:block;
     width:4.5px;
    height:4.5px;
    border-radius:100%;
    
  border-left: 1.08px groove #fcc348;
   
    margin:-3.33px 2.25px
  }
  .legs::before{
    content:"";
    display:block;
     width:4.5px;
    height:4.5px;
    border-radius:100%;
    
  border-left: 1.08px groove #fcc348;
   
    margin:-3.87px 1.53px
  }
  .legs::after{
    content:"";
    display:block;
     width:4.5px;
    height:4.5px;
    border-radius:100%;
    
  border-left: 1.08px groove #fcc348;
   
    margin:3.87px 1.53px
  }
  
  @keyframes va{
    0%{transform:translatex(-1.89px);}
    100%{transform:translatex(0px);}
  }
  
  
  

  
  







  .grass {
    background: #7ebc6f;
}
.rock {
    background: #b1aaa4;
}

.headur, .wings {
    background: #11b197;
}

.container > .grass {
    position: absolute;
    bottom: 0;
    height: 5px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #67b65a;
}


#bird-wrapperur {
    height: 510px;
    width: 765px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -334px;
}






#birdur {
    position: absolute;
    bottom: 45px;
    width: 433px;
    height: 306px;
    left: 148px;
}


.headur {
    position: absolute;
    top: 7px;
    left: 110px;
    height: 80px;
    width: 107px;
    transform: rotate(43deg);
    border-radius: 63% 0 0 40%;
}

.headur .eye {
    position: absolute;
    top: 31px;
    left: 20px;
    width: 9px;
    height: 9px;
    background: #3f2a27;
    border-radius: 50%;
}

.crestur {
    position: absolute;
    top: 4px;
    left: 139px;
    height: 26px;
    width: 74px;
    border-top-left-radius: 18px;
    overflow: hidden;
}

.crestur .crest-1,
.crestur .crest-2 {
    position: absolute;
    height: 0;
    width: 0;
    border-color: #21957e transparent transparent transparent;
    border-style: solid;
    border-width: 14px 27px 0px 37px;
    z-index: -5;
    display: block;
}
.crestur .crest-1 {
    left: 11px;
    top: 0px;
}

.crestur .crest-2 {
    left: 11px;
    top: 12px;
}

.headur .head-lines {
    position: absolute;
    top: 31px;
    left: 29px;
    height: 31px;
    width: 57px;
    transform: rotate(2deg);
}

.head-lines > span {
    display: block;
    width: 100%;
    height: 50%;
    border-radius: 60% 0 0 0;
    transform: skew(-20deg);
}

.head-lines .head-line-1 {
    background: white;
    margin-left: 19px;
}

.head-lines .head-line-2 {
    background: #e56d48;
    border-radius: 49% 0 0 0;
    margin-left: 3px;
}

.headur .mouth {
    position: absolute;
    top: 55px;
    left: -93px;
    width: 140px;
    height: 100px;
    transform: rotate(-43deg);
}

.headur .mouth .nouse {
    position: absolute;
    top: 33px;
    left: 101px;
    width: 0;
    height: 0;
    border-radius: 29%;
    border-right: 14px solid #5b4035;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    z-index: 10;
}

.headur .mouth .peak-top {
    position: absolute;
    border-color: transparent #3e2b24 transparent transparent;
    border-style: solid;
    border-width: 16px 124px 4px 0px;
    transform: skew(24deg);
    top: 27px;
    left: 4px;
    z-index: 5;
}

.headur .mouth .peak-bottom {
    position: absolute;
    border-color: transparent #5b4035 transparent transparent;
    border-style: solid;
    border-width: 0px 125px 19px 0px;
    transform: skew(-19deg);
    top: 46px;
    left: 4px;
    z-index: -1;
}

.headur .mouth .fish {
    position: absolute;
    top: 37px;
    left: 47px;
    width: 47px;
    height: 67px;
}

.fish .body-left,
.fish .body-right {
    position: absolute;
    height: 0;
    width: 0;
    border-bottom-width: 0;
    border-style: solid;
}

.fish .body-left {
    border-width: 57px 0px 0px 20px;
    top: 3px;
    left: 5px;
    border-color: #b1aaa4 transparent;
}

.headur .mouth .fish:before,
.headur .mouth .fish:after {
    position: absolute;
        content: "";
        width: 0;
        height: 0;
        z-index: 20;
}

.headur .mouth .fish:after {
    height: 11px;
    width: 34px;
    background: #412925;
    transform: rotate(144deg);
    left: -3px;
    top: 55px;
    border-radius: 0 0 100% 0px;
}

.headur .mouth .fish:before {
    height: 11px;
    width: 34px;
    background: #412925;
    transform: rotate(221deg);
    left: 17px;
    top: 56px;
    border-radius: 0 0 0 100%;
}

.fish .fin-top {
    height: 10px;
    width: 28px;
    background: #412925;
    transform: rotate(-99deg);
    left: 29px;
    top: 10px;
    border-radius: 0 0 0 100%;
    position: absolute;
}

.fish .fin-bottom {
    height: 10px;
    width: 28px;
    background: #412925;
    transform: rotate(100deg);
    left: -9px;
    top: 10px;
    border-radius: 0 0 100% 0;
    position: absolute;
    z-index: -1;
}



.fish .body-right {
    border-width: 57px 20px 0px 0px;
    top: 3px;
    left: 24px;
    border-color: #9f9a94 transparent;
}

.wings {
    border-radius: 511px 0 1600px 355px / 511px 0 800px 332px;
    width: 276px;
    height: 120px;
    position: absolute;
    top: 108px;
    left: 141px;
    transform:rotate(51deg) skew(-6deg);
    border-style:solid;
    border-color: #21957e;
    border-width: 0px 10px 13px 0px;
}

.wings .wing-dots {
    position: absolute;
    top: 7px;
    width: 149px;
    height: 44px;
    left: 35px;
    text-align: center;
}

.wings .wing-dots span {
    display: inline-block;
    border-radius: 50%;
    background: #20967e;
}
.wings span.small {
    width: 8px;
    height: 8px;
    margin: 0 11px;
}
.wings span.big {
    width: 10px;
    height: 10px;
    margin: 0 11px;
}



.feathers {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 147px;
    left: 281px;
}

.feathers > span {
    position: absolute;
    background: #3e2b25;
}

.feathers .feather-1 {
    width: 100px;
    height: 60px;
    border-bottom-right-radius: 100%;
    left: 30px;
    top: 33px;
}

.feathers .feather-2,
.feathers .feather-3 {
    height: 45px;
    width: 127px;
    transform: rotate(54deg);
    border-radius: 0 0 149% 0px / 0 0 146% 13px;
}

.feathers .feather-2 {
    top: 75px;
    left: 28px;
}

.feathers .feather-3 {
    top: 83px;
    left: -5px;
    height: 30px;
    width: 100px;
}

.legsur {
    position: absolute;
    top: 161px;
    height: 92px;
    width: 100px;
    background: #cc694a;
    left: 230px;
    transform: skewX(-12deg) rotate(43deg);
    z-index: -2;
}

.feet {
    position: absolute;
    top: 284px;
    left: 226px;
    width: 50px;
    height: 8px;
    background: #3e2d25;
    z-index: -5;
    transform: rotate(-44deg);
}

.feet .toes {
    width: 95px;
    height: 6px;
    background: #3e2d25;
    transform: rotate(58deg);
    position: absolute;
    top: -5px;
    left: -52px;
}

.toes:before {
    content: "";
    position: absolute;
    left: -8px;
    height: 10px;
    width: 10px;
    top: 4px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -1px -4px 0px black;
}

.toes:after {
    content: "";
    position: absolute;
    right: -3px;
    height: 10px;
    width: 10px;
    top: 4px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 3px -3px 0px black;
}

.chest {
    position: absolute;
    width: 245px;
    height: 123px;
    background: #E86C48;
    border-radius: 50% 100% 0 0;
    z-index: -1;
    left: 136px;
    top: 108px;
    border-radius: 520px 0 1600px 1158px / 520px 0 1600px 903px;
    transform: rotate(48deg);
}





#bird-wrapperur #big-rock {
    position: absolute;
    bottom: 0;
    width: 276px;
    height: 75px;
    left: 50%;
    margin-left: -153px;
}

#big-rock .rock-1 {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 13px solid #b1aaa4;
    position: relative;
    top: 25px;
    left: 73px;
    border-top: 0;
}

#big-rock .rock-2 {
    position: absolute;
    top: 31px;
    width: 50px;
    height: 50px;
    transform: skew(39deg);
    left: 39px;
    border-left: 10px solid #8D8C89;
    background: #B1AAA4;
}

#big-rock .rock-2:before {
    content: "";
    position: absolute;
    left: -49px;
    height: 20px;
    width: 40px;
    background: #8D8C89;
    top: 19px;
    border-top: 4px solid #B1AAA4;
}

#big-rock .rock-2:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 6px;
    left: 86px;
    border-style: solid;
    border-width: 0 47px 35px 53px;
    border-color: #8D8C89 transparent;
}

#big-rock .rock-1:before {
    content: "";
    position: absolute;
    border: 39px solid transparent;
    border-bottom: 20px solid #8D8C89;
    top: -48px;
    left: -81px;
    transform: rotate(-14deg);
}

#big-rock .rock-1:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 13px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #b1aaa4;
}

#big-rock .rock-grass {
    border-color: transparent transparent #7ebc6f transparent;
    border-style: solid;
    width: 0;
    height: 0;
    border-width: 0 13px 80px 13px;
    display: block;
    position: absolute;
}

#big-rock .rock-grass.left {
    transform: rotate(-41deg);
}

#big-rock .rock-grass.right {
    transform: rotate(41deg);
}

#big-rock .grass-1 {
    top: 13px;
}

#big-rock .grass-1.left {
    left: -17px;
}

#big-rock .grass-1.right {
    right: -17px;
}

#big-rock .grass-2 {
    top: 10px;
    border-width: 0px 12px 80px 12px;
}

#big-rock .grass-2.left {
    left: -41px;
}

#big-rock .grass-2.right {
    right: -41px;
}

#big-rock .grass-3 {
    top: 33px;
    border-width: 0 7px 80px 12px;
}

#big-rock .grass-3.left {
    left: -39px;
}

#big-rock .grass-3.right {
    right: -39px;
}


.neurrixak2{
  -webkit-transform:scale(0.14);
-moz-transform:scale(0.14);
-ms-transform:scale(0.14);
transform:scale(0.14);
  padding-top: 100px;
  opacity: 1;
}

  
      








.contenedor3{
    position:relative;
    width:63px;
    height:63px;
    border-radius:100%;
   
  background: #918099; 
  background: -moz-linear-gradient(top,  #918099 0%, #8a4a9e 100%); 
  background: -webkit-linear-gradient(top,  #918099 0%,#8a4a9e 100%); 
  background: linear-gradient(to bottom,  #918099 0%,#8a4a9e 100%); 
  
  
  
  margin:12px 8px 12px -12px;
  margin-top: 4px;
  margin-bottom: 20px;
  }
  .cabeza2{
    position:absolute;
    width:13.68px;
    height:13.05px;
    border-radius:100%;
    background:#ea7684;
    margin:7.2px 19.89px;
    animation:sube 3s alternate infinite;
     -moz-animation:sube 3s alternate infinite;
     -webkit-animation:sube 3s alternate infinite;
    
  }
  
  .ojo2{
    position:absolute;
    width:4.5px;
    height:4.5px;
    border-radius:100%;
    background:white;
    margin:2.7px 5.4px
  }
  .iris2{
    position:absolute;
    width:2.25px;
    height:2.25px;
    border-radius:100%;
    background:black;
    margin:1.89px 1.89px;
    animation:sube3 3s alternate infinite;
     -moz-animation:sube3 3s alternate infinite;
     -webkit-animation:sube3 3s alternate infinite;
  }
  .iris2::before{
    content:"";
    position:absolute;
    width:0.81px;
    height:0.81px;
    border-radius:100%;
    background:white;
    margin:0.27px 1.08px;
    
  }
  .boca2{
    position:absolute;
    width:3.15px;
    height:5.4px;
    border-radius:100%;
    background:#ae8663;
   
    margin:4.95px 0px
    
  }
  .boca2::before{
    content:"";
    display:block;
    width:11.88px;
    height:8.1px;
    border-radius:100%;
    border-top:4.5px ridge #D69364;
    
    margin:-1.89px -10.08px
  }
  .cuello2{
    position:absolute;
    width:8.1px;
    height:17.28px;
    border-radius:0 0 112px 112px;
    border-bottom:3.33px solid #ea7684;;
    border-left:3.15px solid #ea7684;;
      margin:15.48px 25.29px
  }
  .body2{
    position:absolute;
    width: 20.79px;
    height: 25.29px;
    -webkit-border-radius: 5.67px 5.67px 5.67px 5.67px / 9.72px 9.72px 6.48px 6.48px;
    border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
    background:#2b0c14;
    margin:27px 26.19px
  }
  .body2::before{
    content:"";
    display:block;
    width:10.89px;
    height:10.89px;
    border-radius:100%;
    background:#ccc;
    margin:-1.08px 4.5px
  }
  .alas2{
    position:absolute;
    width:24.39px;
    height:11.88px;
    border-radius:11.88px 11.88px 0 0;
    background:#562129;
    transform:rotate(-65deg);
    -moz-transform:rotate(-65deg);
    -webkit-transform:rotate(-65deg);
    
    
    margin:31.5px  18.09px
  }
  .alas2::before{
    content:"";
    position:absolute;
    width:24.39px;
    height:11.88px;
    border-radius:0 0 11.88px 11.88px;
    background:#562129;
    transform:rotate(-39deg);
     -moz-transform:rotate(-39deg);
    -webkit-transform:rotate(-39deg);
    margin:12.24px  4.23px
  }
  
  .legs2{
    position:absolute;
    width:6.3px;
    height:7.2px;
    border-radius:100%;
    
  border-left: 1.89px groove #D69364;
   
    margin:47.7px 28.08px
  }
  .legs2::before{
    content:"";
    position:absolute;
     width:6.3px;
    height:7.2px;
    border-radius:100%;
    
  border-left: 1.89px groove #D69364;
    margin:0px -0.63px
  }
  .legs2::after{
    content:"";
    position:absolute;
    width:6.3px;
    height:7.2px;
    border-radius:100%;
    
  border-left: 1.89px groove #D69364;
    margin:0px 0.63px
  }
  
  
  .legs23{
    position:absolute;
    width:6.3px;
    height:7.2px;
    border-radius:100%;
    
  border-left: 1.89px groove #D69364;
   
    margin:47.7px 34.2px
  }
  .legs23::before{
    content:"";
    position:absolute;
     width:6.3px;
    height:7.2px;
    border-radius:100%;
    
  border-left: 1.89px groove #D69364;
    margin:0px -0.63px
  }
  .legs23::after{
    content:"";
    position:absolute;
    width:6.3px;
    height:7.2px;
    border-radius:100%;
    
  border-left: 1.89px groove #D69364;
    margin:0px 0.63px
  }
  .cola2{
    position:absolute;
    width:4.5px;
    height:24.39px;
    border-radius:100%;
    background:#2b0c14;
    margin:47.7px 31.5px;
     transform:rotate(12deg);
    -moz-transform:rotate(12deg);
    -webkit-transform:rotate(12deg);
  }
  .cola2::before{
    content:"";
    position:absolute;
    width:4.5px;
    height:20.79px;
    border-radius:100%;
    background:#2b0c14;
    margin:0.27px 2.25px;
  transform:rotate(-12deg);
    -moz-transform:rotate(-12deg);
    -webkit-transform:rotate(-12deg);
  }
  .cola2::after{
    content:"";
    position:absolute;
    width:4.5px;
    height:20.79px;
    border-radius:100%;
    background:#2b0c14;
    margin:2.7px 4.95px;
  transform:rotate(-24deg);
    -moz-transform:rotate(-24deg);
    -webkit-transform:rotate(-24deg);
  }
  .tronco2{
    position:absolute;
    width:36px;
    height:4.5px;
    border-radius:4.5px;
    background:#874128;
      margin:47.7px 15.48px
  }
  @keyframes sube{
    0%{ margin:7.2px 19.89px;}
    100%{ margin:5.4px 19.89px;}
  }
  @-moz-keyframes sube{
    0%{ margin:7.2px 19.89px;}
    100%{ margin:5.4px 19.89px;}
  }
  @-webkit-keyframes sube{
    0%{ margin:7.2px 19.89px;}
    100%{ margin:5.4px 19.89px;}
  }
  
  @keyframes sube3{
    0%{ margin:1.89px 1.89px;}
    100%{ margin:1.89px 0.45px;}
  }
  @-moz-keyframes sube3{
    0%{ margin:1.89px 1.89px;}
    100%{ margin:1.89px 0.45px;}
  }
  @-webkit-keyframes sube3{
    0%{ margin:1.89px 1.89px;}
    100%{ margin:1.89px 0.45px;}
  }







  .contenedor4{
    position:relative;
    width:63px;
    height:63px;
    border-radius:100%;
  
  background: #fceabb; 
  background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 100%); 
  background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 100%); 
  background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fccd4d',GradientType=0 );
  
  
  margin:12px 8px 12px -12px;
  margin-top: 4px;
  margin-bottom: 20px;
  
  }
  .pajaro4{
    position:absolute;
    margin:2.7px 1.89px;
  }
  .cabeza4{
    position:absolute;
    width:13.68px;
    height:10.08px;
    border-radius:13.68px 13.68px 0 5.4px;
    background:#3C4044;
    margin:5.4px 19.08px
  }
  .cabeza4::before{
    content:"";
    display:block;
    width: 7.29px;
    height: 13.68px;
    border-top: 5.4px solid #3C4044;
    border-left: 5.4px solid transparent;
    border-right: 5.4px solid transparent;
    -moz-border-radius: 9px / 9px;
    -webkit-border-radius: 9px / 9px;
    border-radius: 9px / 9px;
    transform:rotate(-121deg);
    -moz-transform:rotate(-121deg);
    -webkit-transform:rotate(-121deg);
   margin:0px 8.73px
  }
  .cabeza4::after{
    content:"";
    display:block;
    width: 9.18px;
    height: 13.68px;
    border-top: 5.4px solid #FF8C37;
    border-left: 5.4px solid transparent;
    border-right: 5.4px solid transparent;
    -moz-border-radius: 10.08px / 9px;
    -webkit-border-radius: 10.08px / 9px;
    border-radius: 10.08px / 9px;
    transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    margin:-14.4px -10.53px}
  
  .cabeza43{
    position:absolute;
    width:11.88px;
    height:5.4px;
    border-radius:10.89px 10.89px 0 0 ;
    border-top: 1.08px solid #999999;
    margin:-18.45px 1.08px
  }
  .body4{
    position:absolute;
    width:29.7px;
    height:19.08px;
    border-radius:15.48px 15.48px 0 0;
    background:#FF8C37;
    transform:rotate(-121deg);
    -moz-transform:rotate(-121deg);
     -webkit-transform:rotate(-121deg);
    margin:22.59px 16.38px
  }
  .body4::before{
    content:"";
    position:absolute;
    width:20.79px;
    height:11.88px;
    border-radius:15.48px 15.48px 0 0;
    background:#575757;
     margin:7.2px 2.7px
  }
  .ojo4{
    position:absolute;
    width:2.7px;
    height:2.7px;
    border-radius:100%;
      background:black;
    margin:-14.58px 5.4px;
    z-index:29.97;
  }
  .ojo4::before{
    content:"";
    display:block;
    width:1.08px;
    height:1.08px;
    border-radius:100%;
    background:white;
    margin:0.27px 0.27px;
  }
  .pico4{
    position:absolute;
    width:5.4px;
    height:3.33px;
    border-radius:100%;
    border-top:2.25px solid black;
    margin:-11.88px -1.53px;
    animation:rotar7 3s alternate infinite;
    -moz-animation:rotar7 3s alternate infinite;
    -webkit-animation:rotar7 3s alternate infinite;
    z-index:29.97;
  }
  .pico43{
    position:absolute;
    width:4.5px;
    height:2.25px;
    border-radius:0 0 4.05px 4.05px;
    background:#121212;
    margin: -10.26px  -0.81px;
    z-index:29.97;
  }
  .ala4{
  -webkit-border-radius: 0px 37.08px 0px 37.08px;
  border-radius: 0px 37.08px 0px 37.08px; 
  transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
  background:#3C4044;
  height: 23.4px;
  position: absolute;
  margin:8.37px 2.7px;
  width:17.28px;
  
    animation:rotar 3s alternate infinite;
    -moz-animation:rotar 3s alternate infinite;
    -webkit-animation:rotar 3s alternate infinite;
    
  }
  
  .leg4{
    position:absolute;
   width:1.89px;
    height:10.89px;
    background:black;
     margin:39.6px 24.39px;
     transform:rotate(33deg);
    -moz-transform:rotate(33deg);
    -webkit-transform:rotate(33deg);
  }
  
  .leg4::before{
    content:"";
    display:block;
     width:5.4px;
    height:2.7px;
     border-radius:0 0 2.7px 2.7px;
    background:#909090;
    margin:-0.27px -1.44px;
    
  }
  .leg43{
    position:absolute;
   width:1.89px;
    height:10.89px;
    background:black;
     margin:40.5px 29.25px;
     transform:rotate(12deg);
    -moz-transform:rotate(12deg);
    -webkit-transform:rotate(12deg);
  }
  
  .leg43::before{
    content:"";
    position:absolute;
     width:5.4px;
    height:2.7px;
     border-radius:0 0 2.7px 2.7px;
    background:#909090;
    margin:1.08px -1.08px;
    
  }
  .dedos4{
    position:absolute;
    width:4.5px;
    height:1.44px;
    background:black;
    margin:8.1px -1.89px;
     transform:rotate(-21deg);
    -moz-transform:rotate(-21deg);
    -webkit-transform:rotate(-21deg);
  }
  
  .dedos43{
    position:absolute;
    width:4.5px;
    height:1.44px;
    background:black;
    margin:10.08px -1.89px;
     transform:rotate(-12deg);
    -moz-transform:rotate(-12deg);
    -webkit-transform:rotate(-12deg);
  }
  .cola4{
    position:absolute;
    width:4.5px;
    height:20.79px;
    border-radius:100%;
    background:#3C4044;
    border:0.54px solid #909090;
    margin:37.89px 46.08px;
  transform:rotate(-21deg);
    -moz-transform:rotate(-21deg);
    -webkit-transform:rotate(-21deg);
     animation:rotar3 3s alternate infinite;
    -moz-animation:rotar3 3s alternate infinite;
    -webkit-animation:rotar3 3s alternate infinite;
  }
  
  @keyframes rotar{
    0%{transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);}
    100%{transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);}
  }
  @-moz-keyframes rotar{
    0%{transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);}
    100%{transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);}
  }
  @-webkit-keyframes rotar{
    0%{transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);}
    100%{transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);}
  }
  
  
  @keyframes rotar3{
    0%{transform:rotate(-21deg);
    -moz-transform:rotate(-21deg);
    -webkit-transform:rotate(-21deg);}
    100%{transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
    -webkit-transform:rotate(-25deg);}
  }
  @-moz-keyframes rotar3{
    0%{transform:rotate(-21deg);
    -moz-transform:rotate(-21deg);
    -webkit-transform:rotate(-21deg);}
    100%{transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
    -webkit-transform:rotate(-25deg);}
  }
  @-webkit-keyframes rotar3{
    0%{transform:rotate(-21deg);
    -moz-transform:rotate(-21deg);
    -webkit-transform:rotate(-21deg);}
    100%{transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
    -webkit-transform:rotate(-25deg);}
  }
  
  @keyframes rotar7{
    0%{  margin:-11.88px -1.53px;}
    100%{  margin:-12.78px -1.53px;}
  }
  @-moz-keyframes rotar7{
    0%{  margin:-11.88px -1.53px;}
    100%{  margin:-12.78px -1.53px;}
  }
  @-webkit-keyframes rotar7{
    0%{  margin:-11.88px -1.53px;}
    100%{  margin:-13.78px -1.53px;}
  }
  
  .neurrixak3{
    padding-bottom: 70px;
    margin-left: -5px;
    -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  transform:scale(1.2);
  }

















/*# sourceMappingURL=index.css.map */
