body {
    margin:0;
    background-color:black;
    font-family: 'Fira Sans', sans-serif;
  }
  .container {
    max-width:1170px;
    width:100%;
    display:flex-root;
    margin:0 auto;
  }
  #sky {

    background-image:url('IMG_0141 (2).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    position:relative;
    display:flex;
    flex-direction:column;
    .overlayerr {
      
      top:0;bottom:0;left:0;right:0;
      height:100vh;
      width:100%;
      display:flex;
      justify-content:center; 
      align-items:center;
      text-align:center;
  
    }
    // mountains
    .mountain_btm_right {
      position:absolute; 
      width:698px;
      right:0;
      bottom:0;
      height:370px;
      background-image:url('PngItem_1269361.png');
    }
    
    .mountain_btm_left {
      position:absolute; 
      width: 298px;
      left: 0;
      bottom: 0;
      height: 680px;
      
      
      background-image:url('pngwing.com (1).png');
    }
    
    .mountain_btm_mid {
      position:absolute; 
      width:698px;
      left:0; right:80px;
      margin:0 auto;
      bottom:-80px;
      height:980px;
      background-image:url('pngwing.com.png');
    } 
  }
  
  section {
    position:relative;
    // kill any overlap
    z-index:5;
    background-color: #000000;
    .container {
      display:flex;
      height:100vh;
      justify-content:space-around;
      align-items:center;
     position:relative;
      .box {
        max-width:550px;
        width:100%;
        height:200px;
        border:2px solid #fff;
        padding:20px;
        display:flex;
        align-items:center;
        margin:0 15px;
        p {
          color:white;
          
        }
       }
       .boxa {
        max-width:100%;
        width:100%;
        height:200px;
        border:2px solid #fff;
        padding:20px;
        display:flex;
        align-items:center;
        margin:0 15px;
        p {
          color:white;
          
        }
       }
    }
  }

  p{
    color: #fff;
  }
  

  #uga{
    padding-top: 25%;
 
    z-index: -1;
    position:absolute;

    left:50px;
  }






  // Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}